{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
<!-- stolen (almost) entirely from cs50 finance (diff image)-->
<!-- https://memegen.link/ -->
<!-- https://knowyourmeme.com/memes/grumpy-cat - no longer being used, switched to cow image-->
 <!-- https://dzpdbgwih7u1r.cloudfront.net/96a7136e-6821-4457-be81-1082b52629df/9c9a343a-aadc-4178-8c5a-1abc385e8c1c/9c9a343a-adc7-488d-b132-0b423d43a027/w1800h2400-a8124a9a3aa4fac606298de07065abc1.jpg-->
 
    <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://dzpdbgwih7u1r.cloudfront.net/96a7136e-6821-4457-be81-1082b52629df/9c9a343a-aadc-4178-8c5a-1abc385e8c1c/9c9a343a-adc7-488d-b132-0b423d43a027/w1800h2400-a8124a9a3aa4fac606298de07065abc1.jpg&width=400" title="{{ top }}">
{% endblock %}
