blessed==1.22.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
contexttimer==0.3.3
dotenv==0.9.9
filelock==3.18.0
Flask==3.1.2
Flask-Session==0.8.0
idna==3.4
modulegraph==0.19.6
nvm==1.0.21
openai==1.60.2
packaging==24.2
platformdirs==4.3.8
protobuf==4.23.2
ptyprocess==0.7.0
Pygments==2.19.2
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.31.0
six==1.16.0
supabase==2.24.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.16
wcwidth==0.2.13
